<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fragmentexample2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name=".MilkCow_Question.Freestall_q4"/>
        <activity android:name=".getStrawScore"/>
        <activity android:name=".WebViewActivity" />
        <activity android:name=".Result_View" />
        <activity android:name=".Input_userinfo" />
        <activity android:name=".Category" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Farm_Activity.Breed_batch_1"/>
        <activity android:name=".Farm_Activity.Breed_batch_2"/>
        <activity android:name=".Farm_Activity.Breed_batch_3"/>
        <activity android:name=".Farm_Activity.Breed_batch_4"/>
        <activity android:name=".Farm_Activity.Fatten_1"/>
        <activity android:name=".Farm_Activity.Fatten_2"/>
        <activity android:name=".Farm_Activity.Fatten_3"/>
        <activity android:name=".Farm_Activity.Fatten_4"/>
        <activity android:name=".Farm_Activity.Freestall_1"/>
        <activity android:name=".Farm_Activity.Freestall_2"/>
        <activity android:name=".Farm_Activity.Freestall_3"/>
        <activity android:name=".Farm_Activity.Freestall_4"/>
        <activity android:name=".Farm_Activity.MilkCow_1"/>
        <activity android:name=".Farm_Activity.MilkCow_2"/>
        <activity android:name=".Farm_Activity.MilkCow_3"/>
        <activity android:name=".Farm_Activity.MilkCow_4"/>
    </application>
</manifest>